**Project Instructions**

*Which NYC schools have the best math results?*

* The best math results are at least 80% of the *maximum possible score of 800*
for math.
* Save your results in a pandas DataFrame called best_math_schools, including "school_name" and "average_math" columns, sorted by "average_math" in descending order.

*What are the top 10 performing schools based on the combined SAT scores?*

* Save your results as a pandas DataFrame called top_10_schools containing the "school_name" and a new column named "total_SAT", with results ordered by "total_SAT" in descending order.

*Which single borough has the largest standard deviation in the combined SAT score?*

*  Save your results as a pandas DataFrame called largest_std_dev.
*  The DataFrame should contain one row, with:
    - "borough" - the name of the NYC borough with the largest standard deviation of "total_SAT".
    - "num_schools" - the number of schools in the borough.
    - "average_SAT" - the mean of "total_SAT".
    - "std_SAT" - the standard deviation of "total_SAT".
*  Round all numeric values to two decimal places.

**New York City schoolbus**

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a maximum score of 800 points. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend.

You have been provided with a dataset called schools.csv, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

How to approach the project

1. Finding schools with the best math scores

2. Identifying the top 10 performing schools

3. Locating the NYC borough with the largest standard deviation in SAT performance

1.  Finding schools with the best math scores

Subset the data to find the schools with math scores of at least 80%, considering the maximum possible score is 800 and save this as a pandas DataFrame called best_math_schools.

*Filtering the data*

*  The threshold should be 80% of the maximum possible score of 800.
*  You can use boolean indexing to filter the data for schools meeting this threshold for "average_math", then subset the columns you need.
*  Boolean indexing with a DataFrame uses square brackets syntax like this: df[df["column_name"] < 10]
*  You can chain .sort_values() to sort the results, passing your column of interest.
*  To sort from largest to smallest, remember to set ascending=False.

2.  Identifying the top 10 performing schools

Find the 10 best performing schools based on the total score across the three SAT sections.

*Creating a column for average scores*

*  Add a new column called "total_SAT" to the original DataFrame, which is the sum of the three existing SAT columns (math, reading, and writing).
*  You can do this using the syntax:

df["new_column"] = df["column_one"] + df["column_two"] + df["column_three"]

*Sorting and limiting the data*

*  Sort the values of the DataFrame by "total_SAT" in descending order.
*  Subset the two columns you need.
*  Limit the results to 10 rows with .head(10).

3.  Locating the NYC borough with the largest standard deviation in SAT performance

Find out the number of schools, average SAT, and standard deviation of SAT for the NYC borough with the largest standard deviation, rounded to two decimal places.

*Grouping the data by borough*

* Group the data by "borough" and find the count of schools, mean and standard deviation of "total_SAT".
* You can chain .groupby() with .agg() to calculate these values.
* The .agg() method accepts a list of statistics, as strings, to calculate, e.g., .agg(["min", "max", "median"]).
* Chain .round() to round the data to a specified number of decimal places.

*Filtering for the largest standard deviation*

* Create a new Dataframe called large_std_dev that subsets the boroughs DataFrame for the row where "std" is equal to the .max() value for that column.
* You can do this using the syntax:

new_df = df[df["col"] == value]

*Renaming columns*

* To rename multiple columns you can use the df.rename() method, passing a dictionary to the columns keyword argument; the original column names are the keys and the new column names ("num_schools", "average_SAT", "std_SAT") are the values.
* Remember to assign the updated DataFrame to itself, i.e., largest_std_dev = largest_std_dev.rename().

In [ ]:
# Re-run this cell
import pandas as pd

# Read in the data
schools = pd.read_csv("/content/drive/MyDrive/Datacamp/Project : Exploring NYC Public School Test Result Scores/schools.csv")

# Preview the data
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

In [ ]:
# Start coding here...

# Finding schools with the best math scores

# Subset the data to find the schools with math scores of at least 80%, considering the maximum possible score is 800 and save this as a pandas DataFrame called best_math_schools.

# Which schools are best for math?

best_math_schools = schools[schools["average_math"] >= 640][["school_name", "average_math"]].sort_values("average_math", ascending=False)

In [ ]:
# Identifying the top 10 performing schools

# Find the 10 best performing schools based on the total score across the three SAT sections.

#Creating a column for average scores

# Add a new column called "total_SAT" to the original DataFrame, which is the sum of the three existing SAT columns (math, reading, and writing).

# Calculate total_SAT per school

schools["total_SAT"] = schools["average_math"] + schools["average_reading"] + schools["average_writing"]

# Sorting and limiting the data

# Sort the values of the DataFrame by "total_SAT" in descending order.

# Subset the two columns you need.

# Limit the results to 10 rows with .head(10).

# Who are the top 10 performing schools?

top_10_schools = schools.sort_values("total_SAT", ascending=False)[["school_name", "total_SAT"]].head(10)

In [6]:
# Locating the NYC borough with the largest standard deviation in SAT performance

# Find out the number of schools, average SAT, and standard deviation of SAT for the NYC borough with the largest standard deviation, rounded to two decimal places.

# Grouping the data by borough

# Which NYC borough has the highest standard deviation for total_SAT?

boroughs = schools.groupby("borough")["total_SAT"].agg(["count", "mean", "std"]).round(2)

# Filtering for the largest standard deviation

# Filter for max std and make borough a column

largest_std_dev = boroughs[boroughs["std"] == boroughs["std"].max()]

# Renaming columns

# Rename the columns for clarity

largest_std_dev = largest_std_dev.rename(columns={"count": "num_schools", "mean": "average_SAT", "std": "std_SAT"})

# Optional: Move borough from index to column

largest_std_dev.reset_index(inplace=True)

               count     mean     std
borough
Bronx             98  1202.72  150.39
Brooklyn         109  1230.26  154.87
Manhattan         89  1340.13  230.29
Queens            69  1345.48  195.25
Staten Island     10  1439.00  222.30